/* header */
#header{
    display: flex;
    justify-content: space-between;
    background-color: #FC8019;
    color: #fff;
}
#navbar{
    display: block; /*New CSS property used 😁*/
    align-content: center;
    padding-right: 20px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
    padding: 0 10px;
    font-size: 1.4rem;
}
#logoContainer{
    width: 80px;
}
#logo{
    width: 100%;
    padding: 2px 10px;
}

/* Body */
#restaurantCardContainer{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restaurantCard{
    /* width: 160px; */
    /* height: 270px; */
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1px;
    align-items: start;
    padding: 4px;
    background-color: #e3dbdb;
}
.restaurantCard:hover{
    cursor: pointer;
    border: 1px solid black;
}
.restaurantCard .cardLogo{
    width: 98%;
    height: 100%;
    padding: 2px;
    /* aspect-ratio: 1 / 1; */
}
.cusine{
    color: gray;
}
.rating{
    font-weight: 600;
    font-size: 1.2rem;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height: 400px;
    background-color:#e3dbdb;
    background: linear-gradient(#e3dbdd, #cfdffd);
}